@import "~bulma/sass/utilities/derived-variables.sass";

.categories {
  margin-bottom: 2rem;
}
.categories li {
  display: inline-block;
  margin-right: 0.5rem;
  color: $text-light;
  &::before {
    content: '#';
  }
}
.servings {
  margin: 0 0 0.5rem;
}
