.categories {
  margin-bottom: 2rem;
}
.categories li {
  display: inline-block;
  margin: 0 0.25rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid white;
  border-radius: 1rem;
}
.categories li:first-child {
  margin-left: 0;
}

.categories li:last-child {
  margin-right: 0;
}
.servings {
  margin: 0 0 0.5rem;
}
