$primary: rgb(203, 0, 92);
@import '~bulma/bulma';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
}
a:not(.link) {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.opacity-50 {
  opacity: 0.5;
}
.content ul {
  margin-left: .9em;
}
.is-va-baseline {
  vertical-align: baseline;
}
.is-width-40px {
  width: 40px;
}
.is-sticky {
  position: sticky;
}
.is-top-1rem {
  top: 1rem;
}
.hide-spin-buttons::-webkit-outer-spin-button,
.hide-spin-buttons::-webkit-inner-spin-button {
  display: none;
}
.button.is-ghost[disabled] {
  border-color: transparent;
}
.content li + li {
  margin-top: 0.5em;
}
// for safari
.icon svg {
  height: 100%;
  width: 100%;
}
