$primary: rgb(8, 134, 109);
$title-color: rgb(0, 0, 0);
$title-weight: 400;
$link: $primary;

$size-1: 4.5rem;
$size-2: 3.25rem;
$size-3: 2.5rem;
$size-4: 2rem;
$size-5: 1.5rem;
$size-6: 1rem;
@import '~bulma/bulma';
@import '~bulma/sass/utilities/functions';
@import './fonts.scss';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
}
.title {
  letter-spacing: -1px;
  font-family: 'BakbakOne';
}
.is-font-size-1-2 {
  font-size: 1.2rem;
}
.is-flex-basis-100 {
  flex-basis: 100%;
}
.opacity-40 {
  opacity: 0.4;
}
.content ul {
  margin-left: .9em;
}
.is-va-baseline {
  vertical-align: baseline;
}
.is-width-40px {
  width: 40px;
}
.is-width-0 {
  width: 0;
}
.is-sticky {
  position: sticky;
}
.is-line-through {
  text-decoration: line-through;
}
.is-white-space-pre-line {
  white-space: pre-line;
}
.t-5 {
  top: 1.5rem;
}
.hide-spin-buttons::-webkit-outer-spin-button,
.hide-spin-buttons::-webkit-inner-spin-button {
  display: none;
}
.button.is-ghost[disabled] {
  border-color: transparent;
}
.content li + li {
  margin-top: 0.5em;
}
.logo {
  fill: $primary;
  stroke: $primary;
}
.logo:hover * {
  fill: bulmaDarken($primary, 10%);
  stroke: bulmaDarken($primary, 10%);
}
.is-not-clipped	{
  overflow: visible;
}
a {
  transition: color 0.3s ease;
  path {
    transition: fill 0.3s ease, stroke 0.3s ease;
  }
}
@include tablet {
  .button-strike {
    opacity: 0;
    pointer-events: none;
    tr:hover & {
      opacity: 1;
      pointer-events: all;
    }
  }
}
// for safari
.icon svg {
  height: 100%;
  width: 100%;
}

/* Edit styles */
.input-faux {
  display: inline-block;
  appearance: none;
  border: none !important;
  height: auto !important;
  font-size: 1rem;
  padding: 0;
  box-shadow: none;
  &::placeholder {
    color: bulmaRgba($text, 0.6);
  }
}
.is-fullwidth {
  width: 100%;
}
.is-alignItems-center {
  align-items: center;
}
.is-height-5 {
  height: $size-5;
}
.flex-basis-full {
  flex-basis: 100%;
}
.file-name {
  max-width: unset !important;
}
.max-width-100 {
  max-width: 100%;
}
.td-input-select {
  .input {
    width: 40%;
    height: $size-4;
  }
  .select {
    width: 60%;
    height: $size-4;
    select {
      height: $size-4;
      width: 100%;
    }
  }
}
.td-input {
  .input {
    height: $size-4;
  }
}

.thumbnail {
  position: absolute;
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 -80px 40px -40px rgba(0, 0, 0, 0.75) inset;
}

.thumbnailWrapper {
  height: 100%;
  overflow: hidden;
  padding-top: 70%;
  padding-left: 0;
  padding-right: 0;
}

.thumbnailDescription {
  color: $white;
  position: absolute;
  bottom: 0;
  padding: 10px 11px;
  font-weight: 500;
  line-height: 1.2;
  text-shadow: 1px 1px 2px black;
}
a.box {
  transition: 0.3s transform;
}
a.box:hover, a.box:focus {
  box-shadow: $box-shadow;
  transform: scale(1.03);
}
.is-vcentered {
  vertical-align: middle;
}
